py
pyee
pytest
requests
requests>=2.32.2
text-unidecode
urllib3>=2.2.2
python-dotenv
jsonify
flask
gunicorn
allure-pytest
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
